body,
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  line-height: 2.4rem;
  color: #000;
  background-color: #fff;
}

.wrapper {
  max-width: 110rem;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}
