.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 8rem 2rem;

  .button {
    display: inline-flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 2.4rem;
    border: 1px solid $color__primary;
    margin-top: 4rem;
    background-color: transparent;

    &:hover {
      background: rgba(36, 28, 196, 0.1);
    }

    svg {
      margin-right: 1rem;
    }
  }
}
